<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NodeOrdersAnalysis.Properties.Settings.NodeOrdersConnectionString"
            connectionString="Data Source=N252-027\MSSQLSERVER3;Initial Catalog=NodeOrders;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>